body {
	background-color: #f8f8f8;
}
.header li {
	font-style: italic;
	font-size: 15px;
	list-style-type: none;
}
.header li a{
	color: #8B00FF;
}
.header a:hover {
	color: green;
}
.desc h2{
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}
#shortdesc{
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}
#longdesc{
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.desc li{
	color: green;
	font-size: 20px;
	font-weight: 300;
	list-style-image: url(Marker.png);
}
input[type="text"]
{
	font-size: 14px;
	color: green;
	font-weight: 300;
	white-space: normal;
}
input[type="text"][size="30"]
{
	width: 160px;
	height: 30px;
}
input[type="text"][size="5000"]
{
	text-align: left;
	width: 350px;
	height: 60px;
}
input[placeholder="Ваша электронная почта"]:focus
{
	color: blue;
	background-color: grey 
}
input[type="text"]:focus
{
	text-transform: uppercase;
}
.desc p:first-letter
{
	font-size: 28px;
	color:red;
}